[ColorEffects:Disabled]
Color={{rgb_c8}}
ColorAmount=0.55
ColorEffect=3
ContrastAmount=0.65
ContrastEffect=1
Enable=true
IntensityAmount=0
IntensityEffect=0

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={{rgb_c8}}
ColorAmount=0.08
ColorEffect=2
ContrastAmount=0.08
ContrastEffect=2
Enable=true
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{rgb_button_alt_bg}}
BackgroundNormal={{rgb_button_bg}}
DecorationFocus={{rgb_c4}}
DecorationHover={{rgb_c6}}
ForegroundActive={{rgb_c4}}
ForegroundInactive={{rgb_c8}}
ForegroundLink={{rgb_c6}}
ForegroundNegative={{rgb_c1}}
ForegroundNeutral={{rgb_c3}}
ForegroundNormal={{rgb_button_fg}}
ForegroundPositive={{rgb_c2}}
ForegroundVisited={{rgb_c5}}

[Colors:Header]
BackgroundAlternate={{rgb_panel_bg}}
BackgroundNormal={{rgb_header_bg}}
DecorationFocus={{rgb_c4}}
DecorationHover={{rgb_c6}}
ForegroundActive={{rgb_c4}}
ForegroundInactive={{rgb_c8}}
ForegroundLink={{rgb_c6}}
ForegroundNegative={{rgb_c1}}
ForegroundNeutral={{rgb_c3}}
ForegroundNormal={{rgb_header_fg}}
ForegroundPositive={{rgb_c2}}
ForegroundVisited={{rgb_c5}}

[Colors:Header][Inactive]
BackgroundAlternate={{rgb_alt_bg}}
BackgroundNormal={{rgb_inactive_title_bg}}
DecorationFocus={{rgb_c4}}
DecorationHover={{rgb_c6}}
ForegroundActive={{rgb_c4}}
ForegroundInactive={{rgb_c8}}
ForegroundLink={{rgb_c6}}
ForegroundNegative={{rgb_c1}}
ForegroundNeutral={{rgb_c3}}
ForegroundNormal={{rgb_c8}}
ForegroundPositive={{rgb_c2}}
ForegroundVisited={{rgb_c5}}

[Colors:Selection]
BackgroundAlternate={{rgb_selection_alt_bg}}
BackgroundNormal={{rgb_selection_bg}}
DecorationFocus={{rgb_c4}}
DecorationHover={{rgb_c6}}
ForegroundActive={{rgb_selection_fg}}
ForegroundInactive={{rgb_selection_fg}}
ForegroundLink={{rgb_selection_fg}}
ForegroundNegative={{rgb_selection_fg}}
ForegroundNeutral={{rgb_selection_fg}}
ForegroundNormal={{rgb_selection_fg}}
ForegroundPositive={{rgb_selection_fg}}
ForegroundVisited={{rgb_selection_fg}}

[Colors:Tooltip]
BackgroundAlternate={{rgb_alt_bg}}
BackgroundNormal={{rgb_tooltip_bg}}
DecorationFocus={{rgb_c4}}
DecorationHover={{rgb_c6}}
ForegroundActive={{rgb_c4}}
ForegroundInactive={{rgb_c8}}
ForegroundLink={{rgb_c6}}
ForegroundNegative={{rgb_c1}}
ForegroundNeutral={{rgb_c3}}
ForegroundNormal={{rgb_fg}}
ForegroundPositive={{rgb_c2}}
ForegroundVisited={{rgb_c5}}

[Colors:View]
BackgroundAlternate={{rgb_alt_bg}}
BackgroundNormal={{rgb_view_bg}}
DecorationFocus={{rgb_c4}}
DecorationHover={{rgb_c6}}
ForegroundActive={{rgb_c4}}
ForegroundInactive={{rgb_c8}}
ForegroundLink={{rgb_c6}}
ForegroundNegative={{rgb_c1}}
ForegroundNeutral={{rgb_c3}}
ForegroundNormal={{rgb_fg}}
ForegroundPositive={{rgb_c2}}
ForegroundVisited={{rgb_c5}}

[Colors:Window]
BackgroundAlternate={{rgb_alt_bg}}
BackgroundNormal={{rgb_window_bg}}
DecorationFocus={{rgb_c4}}
DecorationHover={{rgb_c6}}
ForegroundActive={{rgb_c4}}
ForegroundInactive={{rgb_c8}}
ForegroundLink={{rgb_c6}}
ForegroundNegative={{rgb_c1}}
ForegroundNeutral={{rgb_c3}}
ForegroundNormal={{rgb_fg}}
ForegroundPositive={{rgb_c2}}
ForegroundVisited={{rgb_c5}}

[Colors:Complementary]
BackgroundAlternate={{rgb_alt_bg}}
BackgroundNormal={{rgb_comp_bg}}
DecorationFocus={{rgb_c4}}
DecorationHover={{rgb_c6}}
ForegroundActive={{rgb_c4}}
ForegroundInactive={{rgb_c8}}
ForegroundLink={{rgb_c6}}
ForegroundNegative={{rgb_c1}}
ForegroundNeutral={{rgb_c3}}
ForegroundNormal={{rgb_fg}}
ForegroundPositive={{rgb_c2}}
ForegroundVisited={{rgb_c5}}

[General]
ColorScheme=Dynamic
Name=Dynamic
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{rgb_active_title_bg}}
activeBlend={{rgb_c4}}
activeForeground={{rgb_active_title_fg}}
inactiveBackground={{rgb_inactive_title_bg}}
inactiveBlend={{rgb_c8}}
inactiveForeground={{rgb_c8}}
